/* .esquire-title-and-deck-row{
    background: #161C45;
} */
.esquire-container {
    .article-title {
        text-align: center;
    }
    
    .article-title h1 {
        font-size: 35px;
        margin: 0 auto 20px;
        font-family: 'IvyPresto Display';
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        line-height: 130%;
    }
    
    .article-deck div { 
        text-align: center;
        margin: 0 auto;
    }
    
    .article-author div {
        text-align: center;
        margin: 0 auto;
    }

    .article-body {
        padding-top: 30px;
        font-family: 'Slate Pro';
    }

    .article-body h2 {
        font-size: 28px;
        font-family: 'IvyPresto Display';
    }
}
