/* .esquire-title-and-deck-row{
    background: #161C45;
} */
.esquire-container {
    .article-title {
        text-align: center;
    }
    
    .article-title h1 {
        font-size: 35px;
    }
    
    .article-deck { 
        text-align: center;
    }

    .article-body {
        padding-top: 30px;
        font-family: unset;
    }

    .article-body h2 {
        font-size: 28px;
    }

    .article-body ul {
        padding-left: 20px !important;
    }

    .author {
        margin-bottom: 10px;
    }

    .author, .published {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
        color: #686F77;
    }

    :is(.author, .published) span {
        color: #282828;
    }

    .article-share {
        width: 135.59px;
        margin-bottom: 10px;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 130%;
        color: #282828;
    }

    .images-row {
        flex-wrap: nowrap;
        justify-content: center;
        column-gap: 8px;
    }

    .images-row img {
        // flex-shrink: unset;
        width: 27.9px;
        height: 27.9px;
    }

    .browse-by-tag {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 130%;        
        color: #282828;
    }
}
