/* .esquire-title-and-deck-row{
    background: #161C45;
} */
.esquire-container {
    .article-title {
        text-align: center;
    }
    
    .article-title h1 {
        font-size: 35px;
    }
    
    .article-deck { 
        text-align: center;
    }

    .article-body {
        padding-top: 30px;
        font-family: unset;
    }

    .article-body h2 {
        font-size: 28px;
    }
}
