.msnbc-bg{
    &::before{
        content: '';
        display: block;
        position: absolute;
        z-index: -1;
        background-color: var(--giddy-primary-blue);
        width: 100%;
        height: 520px;
        top: 60px;
        @media only screen and (min-width: 1200px) {
            padding-top: 24px;
            height: 728px;
        }
    }

    .no-show{
        display: none;
    }

    .ads{
        color: white;
        background-color: gray;
        &.top-ad{
            height: 100px;
            margin: 22px 0 55px;

            @media only screen and (min-width: 1200px) {
                height: 250px;
            }
        }
        &.side-ad{
            height: 50px;
            
            @media only screen and (min-width: 1200px) {
                height: 600px;
            }
        }
        &.bottom-ad{
            height: 50px;
            
            @media only screen and (min-width: 1200px) {
                height: 90px;
            }
        }
    }

    .msa-tax-title-deck{
        margin-bottom: 52px;
    }

    .taxonomy-list{
        .taxonomy-list-item{
            color: var(--giddy-primary-sky);
        }
    }

    .Article-Title{
        color: white;
    }
    .Article-Deck{
        color: white;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    
    .article-deck-below{
        padding: 0 15px;
    }

    .Article-Hero img{width: 100%;}
    .Article-Deck--italic{font-family: 'Slate Pro Italic';}
    .Article-Body--left-align h2{text-align: left;}
    .Article-Body--MSA h2{font-size: 28px;}
    .Article-Body h2{margin-top: 40px;}
}