.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Site-nav {
  background-color: #161c45;
  color: #ffffff;
  font-family: "Stale Pro";
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  height: 60px;
}

.Site-logo {
  height: 36px;
  width: 100px;
  color: #d3e2ff;
}

.site-footer {
  background-color: #c5e7e8;
}

.site-footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.site-footer-tag-line {
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: center;

  font-family: "Ivy Mode";
  font-style: italic;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  /* or 111% */

  color: #282828;
  padding-top: 5%;
  padding-bottom: 5%;
}

.site-footer-columns {
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: top;

  font-family: "Slate Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  /* or 100% */

  color: #282828;

  padding-top: 2%;
  padding-left: 3%;
}

.site-footer-info {
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: top;

  font-family: "Slate Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */

  color: #000000;

  padding-top: 2%;
  padding-left: 3%;
}

.site-footer-copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: "Slate Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  text-align: center;

  color: #000000;

  padding-top: 3%;
}

.Article-Title {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: center;
  flex-wrap: wrap;

  font-family: "IvyPresto Display";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 130%;

  color: #282828;
}

.Article-Author {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: "Slate Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;

  color: #686f77;
  padding-top: 3%;
  padding-bottom: 1%;
}

.Article-Deck {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: "Slate Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;

  color: #686f77;
}

.Article-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Article-Hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.Article-Hero .rounded {
  border-radius: 10px;
}

.Article-Body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: "Slate Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  /* or 32px */

  color: #282828;

  padding-top: 4%;
}

.Article-Body h2 {
  font-family: "IvyPresto Display";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 130%;
  /* or 42px */

  text-align: center;

  color: #282828;
}

.article-container-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.article-related-header {
  font-family: "IvyPresto Display";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  /* identical to box height, or 52px */

  color: #282828;
}
