.app-pages-container .icon {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.app-pages-container .article-title {
  text-align: center;
}
.app-pages-container h1 {
  font-size: 28px;
  font-family: "IvyMode";
  font-weight: 700;
  line-height: 110%;
}
.app-pages-container p {
  font-size: 14px;
  font-family: "Slate Pro";
  line-height: 130%;
}
.app-pages-container h2 {
  font-size: 18px;
  font-family: "Slate Pro";
  line-height: 130%;
  font-weight: 700;
}
.app-pages-container ul > li {
  font-family: "Slate Pro";
  font-size: 14px;
  line-height: 130%;
}
.app-pages-container .title-container h1 {
  font-size: 28px;
  font-family: "IvyMode";
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}
.app-pages-container .content-container p {
  font-size: 18px;
}
.app-pages-container .article-deck div {
  text-align: center;
  margin: 0 auto;
}
.app-pages-container .article-author div {
  text-align: center;
  margin: 0 auto;
}
.app-pages-container .article-body {
  padding-top: 30px;
  font-family: unset;
}
.app-pages-container .article-body h2 {
  font-size: 28px;
}

.app-pages-container .top-ad-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
}
.app-pages-container .container-padding {
  padding: 2rem 0.5rem;
}
.app-pages-container .container-margin {
  margin-top: 2rem;
}
.app-pages-container .badge-container {
  justify-content: space-around;
  flex-direction: row;
}
.app-pages-container .badge-container a {
  width: 100%;
}
.app-pages-container .badge-container img {
  width: auto;
}
.app-pages-container .badge-container div {
  padding: 2%;
}
.app-pages-container .hero-image {
  width: 100%;
  justify-content: center;
}
.app-pages-container .video-container {
  background-color: #d3e2ff;
}
.app-pages-container .video-container h1 {
  font-family: "IvyMode";
  font-size: 22px;
  line-height: 130%;
  text-align: center;
}
.app-pages-container .video-container p {
  font-family: "Slate Pro";
  line-height: 130%;
  font-size: 16px;
  text-align: center;
}
.app-pages-container .video-container .video-link {
  font-size: 18px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app-pages-container .video-container .video-player {
  height: 193px;
  width: 100%;
  background-color: #1E1E1E;
}
.app-pages-container .answers-container {
  position: relative;
  width: 100%;
  margin: auto;
}
.app-pages-container .answers-container .header {
  align-items: center;
  flex-direction: column;
}
.app-pages-container .answers-content-container {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
.app-pages-container .carousel-image-container {
  width: 100%;
}
.app-pages-container .carousel-image {
  width: 100%;
}
.app-pages-container .save-container {
  margin: auto;
  background-color: #F8F8F8;
  padding-bottom: 3rem;
  z-index: 1;
}
.app-pages-container .image-carousel {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.app-pages-container .slider-container {
  width: 80%;
  max-width: 640px;
  padding-left: 1rem;
  padding-right: 1rem;
}
.app-pages-container .slider-text-content {
  text-align: start;
}
.app-pages-container .slider-text-content p {
  font-size: 14px;
}
.app-pages-container .btn-prev, .app-pages-container .btn-next {
  width: 32px;
  height: 32px;
  background-color: #E9E9E9;
  color: #686F77;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-pages-container .outer-position {
  position: relative;
  width: 100%;
  z-index: 1;
  overflow: hidden;
  margin: auto;
}
.app-pages-container .personalize-container {
  position: relative;
  z-index: 1;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  overflow: hidden;
}
.app-pages-container .background {
  position: absolute;
  z-index: 1;
  top: 57%;
  left: -4rem;
  width: 200%;
  max-width: none;
}
.app-pages-container .personalize-container img {
  margin-top: 1rem;
  margin-bottom: 1rem;
  z-index: 3;
}
.app-pages-container .personalize-container h1 {
  line-height: 130%;
}
.app-pages-container .personalize-container p {
  font-size: 16px;
}
.app-pages-container .personalize-container .personalize-content-container {
  flex-direction: column;
}
.sticky-nav {
  position: sticky;
  top: 60px;
  display: inline-block;
  z-index: 1;
}
.text-align-start {
  text-align: start;
}
.text-align-center {
  text-align: center;
}
.justify-content-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slick-dots li button:before {
  font-size: 12px;
}
.header {
  display: flex;
  flex-direction: row;
}
@media screen and (min-width: 576px) {
  .app-pages-container .title-container h1 {
    font-size: 34px;
  }
  .app-pages-container .badge-container a {
    width: auto;
  }
  .app-pages-container .badge-container img {
    width: auto;
  }
  .video-container .header-content h1 {
    font-size: 32px;
  }
  .video-container .header-content p {
    font-size: 18px;
  }
  .app-pages-container .video-player {
    min-height: 287px;
  }
  .app-pages-container .slider-container {
    max-width: 280px;
  }
  .app-pages-container .background {
    top: 54%;
    left: -5rem;
    width: 150%;
  }
}

@media screen and (min-width: 768px) {
  .app-pages-container .badge-container {
    display: flex;
    margin-bottom: 2rem;
  }
  .app-pages-container .header {
    display: flex;
    flex-direction: row;
    align-items: space-evenly;
    margin-top: 1rem;
  }
  .app-pages-container .title-container h1 {
    font-size: 26px;
  }
  .app-pages-container .video-container h1 {
    font-size: 22px;
  }
  .app-pages-container .video-container p {
    font-size: 16px;
    text-align: start;
  }
  .app-pages-container .video-player {
    min-height: auto;
    max-width: 450px;
  }
  .app-pages-container .video-container {
    justify-content: center;
    align-items: center;
  }
  .app-pages-container .video-container .video-link {
    font-size: 16px;
  }
  .app-pages-container .video-container .header-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-left: 1rem;
    order: 2;
  }
  .app-pages-container .answers-container {
    position: relative;
    width: 100%;
  }
  .app-pages-container .answers-container .header {
    align-items: center;;
  }
  .app-pages-container .answers-container .header-content {
    width: 100vw;
    position: sticky;
    left: 1rem;
  }
  .app-pages-container .answers-content-container {
    max-width: 41%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    position: absolute;
    left: 53%;
    bottom: 24%;
  }
  .app-pages-container .outer-position {
    width: auto;
    padding-left: 0px;
    padding-right: 0px;
  }
  .app-pages-container .background {
    left: -4rem;
    width: 110%;
    z-index: 2;
  }
  .app-pages-container .slider-container {
    max-width: 600px;
  }
  .app-pages-container .hero-image {
    max-width: 330px;
  }
  .app-pages-container .hero-image-container {
    justify-content: center;
  }
  .app-pages-container .carousel-image-container {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }
  .app-pages-container .carousel-image-container img {
    max-width: 230px;
  }
  .app-pages-container .carousel-image-container .slider-text-content {
    padding-left: 1rem;
  }
  .app-pages-container .personalize-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .app-pages-container .personalize-container {
    z-index: 3;
  }
}
@media screen and (min-width: 992px) {
  .app-pages-container h1 {
    font-size: 32px;  
  }
  .app-pages-container h2 {
    font-size: 20px;
  }
  .app-pages-container p {
    font-size: 18px;
  }
  .app-pages-container ul > li {
    font-size: 18px;
  }
  .app-pages-container .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .app-pages-container .header-content {
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
    justify-content: center;
    text-align: start;
  }
  .app-pages-container .title-container h1 {
    font-size: 30px;
  }
  .app-pages-container .badge-container {
    justify-content: space-between;
  }
  .app-pages-container .badge-container div {
    padding: inherit;
  }
  .app-pages-container .video-container .header-content {
    justify-content: space-evenly;
    padding: 1rem;
  }
  .app-pages-container .video-container h1 {
    font-size: 32px;
    text-align: start;
  }
  .app-pages-container .video-container p {
    font-size: 18px;
    text-align: start;
  }
  .app-pages-container .video-container .video-link {
    text-align: start;
    font-size: 18px
  }
  .app-pages-container .video-container .video-player {
    height: 253px;
  }
  .app-pages-container .answers-container {
    position: relative;
    width: 100%;
  }
  .app-pages-container .answers-container .header {
    align-items: center;;
  }
  .app-pages-container .answers-container .header-content {
    width: 95vw;
    position: sticky;
    left: 1rem;
  }
  .app-pages-container .answers-content-container {
    max-width: 88%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    position: absolute;
    left: 50%;
    bottom: 29%;
  }
  .app-pages-container .image-carousel {
    width: 100%;
    justify-content: center;
  }
  .app-pages-container .carousel-image-container {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }
  .app-pages-container .carousel-image-container .slider-text-content {
    padding-left: 1rem;
  }
  .app-pages-container .carousel-image {
    max-height: 427px;
    width: auto;
  }
  .app-pages-container .save-container .save-container-content {
    max-width: 100%;
  }
  .app-pages-container .background {
    left: 0rem;
    width: 100%;
    top: 51%;
  }
  .app-pages-container .slider-container {
    max-width: 600px;
  }
  .app-pages-container .slider-text-content p {
    font-size: 16px;
  }
  .app-pages-container .hero-image {
    max-width: 330px;
  }
}
@media screen and (min-width: 1440px) {
  .app-pages-container .background {
    left: 0rem;
    width: 100%;
    top: 41%;
  }
}