.icon {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.article-title {
  text-align: center;
}
h1 {
  font-size: 28px;
  font-family: "IvyMode";
  font-weight: 700;
  line-height: 110%;
}
p {
  font-size: 14px;
  font-family: "Slate Pro";
  line-height: 130%;
}
h2 {
  font-size: 18px;
  font-family: "Slate Pro";
  line-height: 130%;
  font-weight: 700;
}
ul > li {
  font-family: "Slate Pro";
  font-size: 14px;
  line-height: 130%;
}
.title-container h1 {
  font-size: 28px;
  font-family: "IvyMode";
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}
.content-container p {
  font-size: 18px;
}
.article-deck div {
  text-align: center;
  margin: 0 auto;
}
.article-author div {
  text-align: center;
  margin: 0 auto;
}
.article-body {
  padding-top: 30px;
  font-family: unset;
}
.article-body h2 {
  font-size: 28px;
}

.top-ad-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
}
.container-padding {
  padding: 2.5rem 0rem;
}
.container-margin {
  margin-top: 2rem;
}
.badge-container {
  justify-content: space-around;
  flex-direction: row;
}
.badge-container a {
  width: 100%;
}
.badge-container img {
  width: auto;
}
.badge-container div {
  padding: 0.5rem;
}
.hero-image {
  width: 100%;
  justify-content: center;
}
.video-container {
  background-color: #d3e2ff;
}
.video-container h1 {
  font-family: "IvyMode";
  font-size: 22px;
  line-height: 130%;
  text-align: center;
}
.video-container p {
  font-family: "Slate Pro";
  line-height: 130%;
  font-size: 16px;
  text-align: center;
}
.video-container .video-link {
  font-size: 18px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.video-container .video-play-button {
  margin-right: 5px;
  width: 24px;
  height: 24px;
}
.video-container .video-player {
  height: 193px;
  width: 100%;
  background-color: #1E1E1E;
}
.answers-container {
  position: relative;
  width: 100%;
  margin: auto;
  padding-top: 3rem;
}
.answers-container .header {
  align-items: center;
  flex-direction: column;
}
.answers-content-container {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
.carousel-image-container {
  width: 100%;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
}
.carousel-image-container img {
  max-width: 200px;
  align-self: center;
}
.carousel-image {
  width: 100%;
}
.save-container {
  margin: auto;
  background-color: #F8F8F8;
  padding-bottom: 3rem;
  z-index: 1;
}
.image-carousel {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 1rem;
  padding-right: 1rem;
}
.slider-container {
  width: 80%;
  max-width: 640px;
  padding-left: 1rem;
  padding-right: 1rem;
}
.slider-text-content {
  text-align: start;
}
.slider-text-content p {
  font-size: 14px;
}
.btn-prev, .btn-next {
  width: 32px;
  height: 32px;
  background-color: #E9E9E9;
  color: #686F77;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-button {
  font-size: 24px;
}
.outer-position {
  position: relative;
  width: 100%;
  z-index: 1;
  overflow: hidden;
  margin: auto;
}
.personalize-container {
  position: relative;
  z-index: 1;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  overflow: hidden;
}
.background {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: -3rem;
  width: 200%;
  max-width: none;
}
.personalize-container img {
  margin-top: 2rem;
  margin-bottom: 3rem;
  z-index: 3;
}
.personalize-container h1 {
  line-height: 130%;
}
.personalize-container p {
  font-size: 16px;
}
.personalize-container .personalize-content-container {
  flex-direction: column;
}
.sticky-nav {
  position: sticky;
  top: 60px;
  display: inline-block;
  z-index: 1;
}
.text-align-start {
  text-align: start;
}
.text-align-center {
  text-align: center;
}
.justify-content-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slick-dots li button:before {
  font-size: 12px;
}
.header {
  display: flex;
  flex-direction: row;
}
@media screen and (min-width: 576px) {
  .title-container h1 {
    font-size: 34px;
  }
  .content-container {
    max-width: 390px;
  }
  .badge-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .badge-container a {
    width: auto;
  }
  .badge-container img {
    width: auto;
  }
  .video-container {
    padding-bottom: 4rem;
  }
  .video-container .header {
    justify-content: center;
  }
  .video-container .header-content h1 {
    font-size: 32px;
  }
  .video-container .header-content p {
    font-size: 18px;
    max-width: 480px;
  }
  .video-player {
    min-height: 287px;
  }
  .answers-container img {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .answers-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .answers-content-container {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .slider-container {
    max-width: 280px;
  }
  .carousel-image-container {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
  }
  .carousel-image-container img {
    max-width: 200px;
    align-self: center;
  }
  .background {
    top: 50%;
    left: -3rem;
    width: 137%;
  }
  .personalize-container {
    width: 100%;
    padding: 2rem;
  }
  .personalize-content-container {
    padding-bottom: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .badge-container {
    display: flex;
    margin-bottom: 2rem;
  }
  .icon {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .app-pages-container > .header {
    display: flex;
    flex-direction: row;
    align-items: space-evenly;
    margin-top: 2rem;
  }
  .container-padding {
    padding: 2rem 0;
  }
  .title-container h1 {
    font-size: 26px;
  }
  .video-container h1 {
    font-size: 22px;
  }
  .video-container p {
    font-size: 16px;
    text-align: start;
  }
  .video-player {
    min-height: auto;
    max-width: 450px;
  }
  .video-container {
    justify-content: center;
    align-items: center;
  }
  .video-container .video-link {
    font-size: 16px;
    margin-top: 0.5rem;
    margin-bottom: 0;
  }
  .video-container .header {
    display: flex;
    flex-direction: row;
    align-items: space-evenly;
  }
  .video-container .header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 1rem;
    order: 2;
  }
  .answers-container {
    position: relative;
    width: 100%;
  }
  .answers-container img {
    padding: 2rem 0;
  }
  .answers-container .header {
    align-items: center;;
  }
  .answers-container .header-content {
    width: 100vw;
    position: sticky;
    left: 1rem;
  }
  .answers-content-container {
    max-width: 41%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    position: absolute;
    left: 53%;
    bottom: 24%;
  }
  .outer-position {
    width: auto;
    padding-left: 0px;
    padding-right: 0px;
  }
  .background {
    left: -2rem;
    width: 105%;
    top: 56%;
    z-index: 2;
  }
  .slider-container {
    max-width: 600px;
  }
  .hero-image {
    max-width: 330px;
  }
  .hero-image-container {
    justify-content: center;
  }
  .carousel-image-container {
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .carousel-image-container img {
    max-width: 230px;
  }
  .carousel-image-container .slider-text-content {
    padding-left: 1rem;
  }
  .personalize-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .save-container {
    padding-bottom: 4rem;
  }
  .personalize-container {
    z-index: 3;
  }
  .personalize-container img {
    padding: 2rem;
    margin: 0;
  }
}
@media screen and (min-width: 992px) {
  h1 {
    font-size: 32px;  
  }
  h2 {
    font-size: 20px;
  }
  p {
    font-size: 18px;
  }
  ul > li {
    font-size: 18px;
  }
  .hero-image {
    max-width: none;
  }
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .app-pages-container > .header-content {
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
    justify-content: center;
    text-align: start;
    margin: 2rem 0;
  }
  .container-padding {
    padding: 3rem 0;
  }
  .title-container h1 {
    font-size: 30px;
  }
  .badge-container {
    justify-content: space-between;
  }
  .badge-container div {
    padding: inherit;
  }
  .video-container .header-content {
    justify-content: space-evenly;
    padding: 1rem;
  }
  .video-container h1 {
    font-size: 32px;
    text-align: start;
  }
  .video-container p {
    font-size: 18px;
    text-align: start;
  }
  .video-container .video-link {
    text-align: start;
    font-size: 18px
  }
  .video-container .video-player {
    height: 253px;
  }
  .answers-container {
    position: relative;
    width: 100%;
  }
  .answers-container .header {
    align-items: center;;
  }
  .answers-container .header-content {
    width: 100vw;
    position: sticky;
    left: 1rem;
  }
  .answers-container .header-content img {
    padding-top: 3rem;
    padding-bottom: 4rem;
  }
  .answers-content-container {
    max-width: 42%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    position: absolute;
    left: 50%;
    bottom: 25%;
  }
  .image-carousel {
    width: 100%;
    justify-content: center;
  }
  .carousel-image-container {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }
  .carousel-image-container .slider-text-content {
    padding-left: 1rem;
  }
  .carousel-image {
    max-height: 427px;
    width: auto;
  }
  .save-container .save-container-content {
    max-width: 100%;
  }
  .save-container {
    padding-bottom: 4rem;
  }
  .background {
    left: -2rem;
    width: 106%;
    top: 51%;
  }
  .slider-container {
    max-width: 600px;
  }
  .slider-text-content p {
    font-size: 16px;
  }
  .slider-button {
    font-size: 32px;
  }
  .btn-prev, .btn-next {
    width: 40px;
    height: 40px;
  }
  .personalize-container {
    padding: 4rem;
  }
  .personalize-container p {
    font-size: 16px;
    max-width: 70%;
  }
}
@media screen and (min-width: 1440px) {
  .background {
    left: 0rem;
    width: 100%;
    top: 41%;
  }
  .app-pages-container > .header > .header-content {
    margin: auto;
  }
  .video-player {
    justify-content: center;
  }
  .answers-content-container {
    bottom: 38%
  }
}